body {
    font-family: "Open Sans", sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffc800;
}


h2{
    font-size: 50px;
    text-align: center;
    color: #ffc800;
}

p{
    font-size: 20px;
    text-align: center;
    color: #ffc800;
} 

span{
    font-size: 25px;
    text-align: center;
    color: #ffc800;
}

div{
    margin: auto;
    display: block;
    text-align: center;
}

button {
    background-color: #ffc800;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}    

form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
}

input[type="text"],
select {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffc800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #e1c656;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    form {
        padding: 15px;
    }

    input[type="text"],
    select,
    input[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    form {
        margin: 30px auto;
    }

    input[type="text"],
    select,
    input[type="submit"] {
        padding: 6px;
        font-size: 12px;
    }
}
